h1{

    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3em;
}

p{
    color: pink;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

